*~
*.bak
*.out
*.a
*.la
*.lo
.deps
.libs
*.o
*.s
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/libgtop2.info
doc/mdate-sh
doc/reference/html/
doc/reference/libgtop-undeclared.txt
doc/reference/libgtop-undocumented.txt
doc/reference/libgtop-unused.txt
doc/reference/libgtop.args
doc/reference/libgtop.hierarchy
doc/reference/libgtop.interfaces
doc/reference/libgtop.prerequisites
doc/reference/libgtop.signals
doc/reference/libgtop-decl-list.txt
doc/reference/libgtop-decl.txt
doc/reference/*.stamp
doc/reference/tmpl/
doc/reference/version.xml
doc/reference/xml/
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
examples/affinity
examples/df
examples/first
examples/free
examples/mountlist
examples/netlist
examples/netload
examples/openfiles
examples/pprint
examples/procargs
examples/proclist
examples/procmap
examples/second
examples/sysdeps
examples/smp
examples/timings
examples/wd
gtk-doc.make
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
lib/GTop-2.0.gir
libgtop-2.0.pc
lib/GTop-2.0.typelib
libgtopconfig.h
libgtop.spec
lib/lib.c
libtool
ltmain.sh
m4/
missing
po/*.gmo
po/POTFILES
po/stamp-it
src/daemon/libgtop_daemon2
src/daemon/libgtop_server2
stamp-h1
